.jumbotron {
  width: auto;
  text-align: center;
}

body {
  background-color: rgb(236, 235, 235)
}

tr {
  border: 1px solid black;
}

th {
  font-weight: bold;
  background-color: rgb(102, 100, 100);
  color:white
}

table {
  margin-bottom: 20px;
}

.effectiveDate{
  border: 1px solid black;
}

.edit {
  width: 10px;;
  border-left: 1px solid black;
}

#myChart {
  margin-bottom: 20px;
}

